<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圖書館登入介面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 使用 Jinja 的 url_for 來生成 CSS 檔案的 URL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- 引入 OpenCV.js -->
    <script src="{{ url_for('static', filename='js/opencv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}" type="text/javascript"></script>
</head>
<body>
    <header class="bg-dark text-white text-center p-4">
        <h1>歡迎來到智慧圖書館系統</h1>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 camera-container">
                <h2>請將您的正臉至於鏡頭前</h2>
                <!-- 將寬度和高度設置為相等，創造一個正方形的 video 元素 -->
                <canvas id="canvasOutput" width="320" height="240"></canvas>
                <video id="videoInput" width="320" height="240" autoplay style="display: none;"></video>
                <button type="button" class="btn btn-primary" onclick="login()">人臉偵測自動填寫帳號密碼</button>
            </div>
            <div class="col-md-6 login-container p-4">
                <h2 class="text-center">登入</h2>
                <form id="login-form">
                    <div class="mb-3">
                        <label for="username" class="form-label">帳號:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">密碼:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <!-- <button type="button" class="btn btn-primary" onclick="login()">Login</button> -->
                    <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                </form>
                <p class="mt-3">沒有帳號? <a id="register-link" class="btn btn-link" href="{{ url_for('routes.closed_video_stream') }}" >點此前往註冊</a></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 使用 Jinja 的 url_for 來生成腳本檔案的 URL -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
