<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圖書館使用者介面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-styles.css') }}">
</head>
<body>
    <div id="header">
        <h1>圖書館使用者介面</h1>
    </div>

    <div id="main-container" style="display: flex; flex-direction: column;">
        <div id="welcome-message" style="display: flex; flex-direction: row;">
            <div id="user-info" style="font-size: 50px"; >
                <p>歡迎使用者 : {{ userdata.username }}</p>
            </div>
        </div>
        <div id="recommenbook" style="font-size: 30px;">
            推薦給您的好書
        </div>
        <div id="book-container">
            {% for book in recommend_list %}
            <div class="book" style="margin-right: 20px; padding: 10px;">
                <img src="{{ book[3] }}" alt="Book Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h4>書名:</h4>
                    <h4>{{book[0]}}</h4>
                    <p>分類: {{book[1]}}</p>
                    <p>評分:{{book[2]}}</p>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div>

            <div class="book" style="padding: 10px;">
                <img src="https://images.gr-assets.com/books/1361039443m/41865.jpg" alt="Book 2 Cover" style="margin-bottom: 10px;">
                <div class="book-info">
                    <h3>Book 2 Title</h3>
                    <p>分類: Mystery</p>
                    <p>評分: 4.0</p>
                </div>
            </div> -->
        </div>
    
    
        <!-- 顯示更多書籍... -->
    
        <div id="action-buttons">
            <a href="{{ url_for('routes.borrow') }}" class="borrow" style="font-size: 30px;">借書</a>
            <a href="{{ url_for('routes.recommend') }}" class="return" style="font-size: 30px;">還書</a>
            <a href="{{ url_for('routes.index') }}" class="logout" style="font-size: 30px;">登出</a>
        </div>
    </div>    
</body>
</html>
