/* 整体页面样式 */
body {
    font-family: Arial, sans-serif; /* 使用 Arial 字体 */
    margin: 0; /* 移除页面默认边距 */
    display: flex; /* 使用 Flex 布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    height: 100vh; /* 设置高度为视口高度的百分比 */
    background: url("../images/bookshelf-413705_1280.jpg") center center/cover no-repeat; /* 背景图片设置 */
    background-size: cover; /* 背景图片等比例覆盖整个容器 */
}

/* 页眉样式 */
#header {
    text-align: center; /* 文字居中 */
    padding: 20px; /* 页眉内边距 */
    color: white; /* 文字颜色 */
    position: absolute; /* 绝对定位 */
    top: 10px; /* 与顶部的距离 */
    left: 10px; /* 与左侧的距离 */
    background: rgb(0, 0, 0); /* 背景颜色 */
}

/* 主容器样式 */
#main-container {
    display: flex; /* 使用 Flex 布局 */
    justify-content: center; /* 水平居中 */
    position: relative; /* 相对定位 */
    z-index: 1; /* 设置 z-index */
    margin-top: 50px; /* 添加顶部外边距，调整页眉位置 */
}

/* 還書登記区域样式 */
#return-registration {
    border: 1px solid #ccc; /* 边框样式 */
    padding: 20px; /* 内边距 */
    margin: 10px; /* 外边距 */
    background: rgba(255, 255, 255, 0.8); /* 背景透明度设置为 0.8 */
}

/* 左右表格容器样式 */
.table-container {
    width: 100%; /* 宽度占一半 */
    box-sizing: border-box; /* 包含边框在内的盒模型 */
    padding: 10px; /* 内边距 */
}

/* 書籍列表表格样式 */
table {
    width: 50%; /* 宽度100% */
    border-collapse: collapse; /* 合并边框模式 */
    margin-top: 20px; /* 顶部外边距 */
}

table th, table td {
    border: 1px solid #ccc; /* 边框样式 */
    padding: 10px; /* 内边距 */
    text-align: center; /* 文字居中 */
}

/* 按钮样式 */
button.return-registration, a.back-to-user-interface {
    padding: 10px; /* 内边距 */
    margin-top: 10px; /* 顶部外边距 */
    cursor: pointer; /* 鼠标指针样式 */
}

/* 透明度设置为 0.8 的按钮样式 */
button.return-registration {
    background: rgba(255, 255, 255, 0.8); /* 背景透明度设置为 0.8 */
}

/* 返回使用者介面按钮样式 */
a.back-to-user-interface {
    text-decoration: none; /* 移除下划线 */
    color: white; /* 文字颜色 */
    background: rgb(0, 0, 0); /* 背景颜色 */
    display: inline-block; /* 行内块级元素 */
    padding: 10px; /* 内边距 */
    margin-left: 10px; /* 左外边距 */
}

/* 鼠标悬停时的样式 */
a.back-to-user-interface:hover {
    background: rgba(255, 255, 255, 0.8); /* 背景透明度设置为 0.8 */
    color: black; /* 文字颜色 */
}
