/* 整體頁面樣式 */
body {
    font-family: Arial, sans-serif; /* 使用 Arial 字體 */
    margin: 0; /* 移除頁面預設邊距 */
    display: flex; /* 使用 Flex 佈局 */
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    height: 100vh; /* 設置高度為視口高度的百分比 */
    background: url("../images/bookshelf-413705_1280.jpg") center center/cover no-repeat; /* 背景圖片設置 */
    background-size: cover; /* 背景圖片等比例覆蓋整個容器 */
}

/* 頁眉樣式 */
header {
    text-align: center; /* 文字置中 */
    padding: 20px; /* 頁眉內邊距 */
    color: white; /* 文字顏色 */
    position: absolute; /* 絕對定位 */
    top: 10px; /* 與頂部的距離 */
    left: 10px; /* 與左側的距離 */
    background: rgb(0, 0, 0); /* 背景顏色 */
}

/* 主容器樣式 */
.container {
    width: 2000px;
    display: flex; /* 使用 Flex 佈局 */
    justify-content: center; /* 水平置中 */
    position: relative; /* 相對定位 */
    z-index: 1; /* 設置 z-index */
}

/* 相機容器和登錄容器樣式 */
.camera-container {
    border: 1px solid #ccc; /* 邊框樣式 */
    font-size: 30px; /* 調整容器中文字的大小 */
    width: 900px; /* 調整容器的寬度 */
    height: 700px; /* 調整容器的高度 */
    padding: 30px; /* 增加容器的內邊距 */
    margin: 10px; /* 外邊距 */
    background: rgba(255, 255, 255, 0.8); /* 背景透明度設置為 0.8 */
}

.login-container {
    border: 1px solid #ccc; /* 邊框樣式 */
    font-size: 30px; /* 調整容器中文字的大小 */
    width: 600px; /* 調整容器的寬度 */
    height: 700px; /* 調整容器的高度 */
    padding: 30px; /* 增加容器的內邊距 */
    margin: 10px; /* 外邊距 */
    background: rgba(255, 255, 255, 0.8); /* 背景透明度設置為 0.8 */
}

/* 新增的 CSS 樣式，使相機區域的寬高相等 */
#videoInput,#canvasOutput {
    width: 500px; /* 寬度 */
    height: 500px; /* 高度 */
    object-fit: cover; /* 圖片保持比例覆蓋整個區域 */
    display: block; /* 塊級元素 */
    margin-left: auto; /* 左右置中 */
    margin-right: auto; /* 左右置中 */
}

/* 相機容器樣式 */
.camera-container {
    flex: 1; /* 佔據剩餘空間 */
}

/* 按鈕樣式 */
button {
    padding: 10px; /* 內邊距 */
    margin-top: 10px; /* 頂部外邊距 */
    cursor: pointer; /* 鼠標指針樣式 */
}

h2 {
    font-size: 50px; /* 將字體大小設置為 24 像素 */
}

h1 {
    font-size: 50px; /* 將字體大小設置為 24 像素 */
}

