/* 整体页面样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../images/bookshelf-413705_1280.jpg") center center/cover no-repeat;
    background-size: cover;
}

/* 页眉样式 */
#header {
    text-align: center;
    padding: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgb(0, 0, 0);
}

/* 主容器样式 */
#main-container {
    width: 1500px;
    height: 600px;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 歡迎信息样式 */
#welcome-message {
    font-size: 50px;
    margin-bottom: 20px;
}

#book-container {
    background: rgba(139, 139, 139, 0.637);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 書籍樣式 */
.book {
    display: flex;
    align-items: center; /* 在主軸上居中對齊 */
    width: 100%; /* 使用相同的寬度 */
    margin-bottom: 20px; /* 可選：添加一些底部間距 */
}

.book img {
    width: 200px; /* 設定圖片的寬度 */
    height: auto; /* 自動調整高度，保持圖片比例 */
}


.book-info {
    flex: 1;
}

.book-info h3 {
    margin: 0;
    font-size: 30px;
}

.book-info p {
    margin: 5px 0;
    font-size: 20px;
}

/* 操作按鈕樣式 */
#action-buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button.borrow {
    background-color: #4caf50;
    color: #fff;
}

button.return {
    background-color: #2196F3;
    color: #fff;
}

button.logout {
    background-color: #f44336;
    color: #fff;
}
